body {
	background-image: url("background.jpg");
}

#MainTitle {
	color: #FFFFFF;
	text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
	color: #FFFFFF;
	font-family: 'Pacifico', cursive;
	text-align: center;
	font-size: 6.5em;
}

h2 {
	color:Chartreuse;
	text-align: center;
}

li {
	color:Chartreuse;
	text-align: center;
	list-style-type: none;
}

p {
	color:Chartreuse;
	text-align: center;
}

.meme {
	width: 314px;
	height: auto;
	box-shadow: 10px 10px 10px Chartreuse;
}

.row {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	justify-items: center;
	grid-gap: 1.5rem;
}